@keyframes moveInScale {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5); }
  50% {
    transform: scale(1, 1); }
  100% {
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-120rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(120rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes comingIn {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  50% {
    transform: translateY(1.5rem);
    opacity: .5; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

.fade {
  opacity: 0 !important;
  transform: translateY(2.5rem) !important;
  transition: all 0.5s ease-in !important; }

.fade-in {
  opacity: 1 !important;
  transform: translateY(0) !important; }

.display {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) !important; }

.slideIn {
  transform: translate(0, 101%) !important; }

.rotate {
  transform: rotate(0) !important; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6; }

.grid-container {
  display: grid;
  grid-template-rows: 100vh repeat(10, min-content) 32vh;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 56.25em) {
    .grid-container {
      grid-template-rows: 75vh repeat(10, min-content) 30vh; } }
  @media only screen and (max-width: 37.5em) {
    .grid-container {
      grid-template-rows: 60vh repeat(10, min-content) 35vh; } }

.heading--1, .heading--2, .heading--3 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.heading--1 {
  font-size: 4rem;
  letter-spacing: .1rem;
  color: #fff; }

.heading--2 {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: .1rem;
  color: #3c3b3b;
  text-align: center; }

.heading--3 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #3c3b3b;
  letter-spacing: .1rem; }

.heading--4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #3c3b3b; }

.paragraph {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: 1.5rem; }
  .paragraph--grey {
    font-family: "Lato", sans-serif;
    color: #999999;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: .2rem; }

.text-box {
  display: block;
  text-align: center;
  justify-self: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem; }
  .text-box--border-none {
    border: none; }
  @media only screen and (max-width: 37.5em) {
    .text-box {
      width: 60%; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
  margin-bottom: 6rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.u-margin-top-medium {
  margin-top: 6rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn--primary {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  border: 1px dashed #f7c221;
  padding: .5rem 1.5rem;
  color: #3c3b3b !important;
  cursor: pointer;
  transition: all .1s ease-in; }
  .btn--primary:hover {
    color: #fff;
    background-color: #f7c221; }
  .btn--primary--hover {
    border-radius: 3px; }

.card-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem 2rem; }
  @media only screen and (max-width: 37.5em) {
    .card-box {
      grid-gap: 1rem 2rem; } }

.custom-card {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  backface-visibility: hidden;
  perspective: 150rem;
  -moz-perspective: 150rem;
  transform: rotateY(90deg);
  transition: all .5s ease; }
  @media only screen and (max-width: 56.25em) {
    .custom-card {
      padding: 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .custom-card {
      padding: 3rem 5rem; } }
  .custom-card > * {
    margin-bottom: 1.5rem; }

.card__border {
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  grid-column-gap: .5rem; }
  .card__border::before, .card__border::after {
    content: "";
    height: 1px;
    opacity: 0;
    background-color: #f7c221;
    align-self: end; }
  .card__border > svg {
    fill: #f7c221;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0; }

.card__plan {
  margin-top: 2.5rem;
  color: #3c3b3b;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .card__plan > * {
    margin-bottom: 1.8rem; }
  .card__plan__count--cur {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    left: -2rem;
    top: 5.5rem; }
  .card__plan__count--num {
    font-family: "Oswald", sans-serif;
    font-size: 5.5rem;
    font-weight: 700; }
  .card__plan__text {
    text-transform: uppercase;
    font-size: 1.2rem; }

.card__spec {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed #ddd;
  width: 100%; }
  .card__spec__text {
    text-align: center;
    width: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    padding: 2rem;
    color: #999999; }
    .card__spec__text:not(:last-child) {
      border-bottom: 2px dashed #ddd; }

.custom-card:hover .card__border {
  border-bottom: none; }
  .custom-card:hover .card__border::before, .custom-card:hover .card__border::after {
    opacity: 1; }
  .custom-card:hover .card__border > svg {
    opacity: 1; }

.custom-card:hover .card__plan__heading, .custom-card:hover .card__plan__count--cur, .custom-card:hover .card__plan__count--num {
  color: #f7c221; }

.custom-card:hover .card__spec {
  background-color: #ededed; }

.carousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  .carousel-container {
    height: 100%; }
  .carousel-item {
    position: relative;
    height: 100%; }
  .carousel--img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .carousel__control {
    outline: 2px solid #f7c221;
    background-image: none;
    height: 5.5rem;
    width: 6rem;
    background-size: 100%, 100%; }
    .carousel__control--right {
      margin-left: 15%; }
      .carousel__control--right:after {
        content: '>';
        font-size: 3.5rem; }
    .carousel__control--left {
      margin-right: 15%; }
      .carousel__control--left:after {
        content: '<';
        font-size: 3.5rem; }

.carousel .carousel-inner {
  height: 100%; }

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 37.5em) {
    .carousel-caption {
      width: 50%; } }
  .carousel-caption__heading {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 2.5rem;
    font-weight: 700;
    font-size: 3.5rem;
    text-align: center; }
    .carousel-caption__heading--1 {
      animation: moveInScale 2s ease; }
    .carousel-caption__heading--2 {
      animation: moveInRight 1.5s ease; }
    .carousel-caption__heading--3 {
      animation: moveInLeft 1.5s ease; }
    @media only screen and (max-width: 56.25em) {
      .carousel-caption__heading {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .carousel-caption__heading {
        font-size: 1.6rem; } }
  .carousel-caption__text {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: .6rem;
    font-weight: 600;
    backface-visibility: hidden; }
    .carousel-caption__text--1 {
      animation: moveInScale 2s ease; }
    .carousel-caption__text--2 {
      animation: moveInLeft 1.5s ease; }
    .carousel-caption__text--3 {
      animation: moveInRight 1.5s ease; }
    @media only screen and (max-width: 37.5em) {
      .carousel-caption__text {
        font-size: .6rem;
        letter-spacing: .3rem; } }

.indicator,
.indicator:active {
  height: 10px !important;
  width: 10px !important; }

.indicator.active {
  background-color: #f7c221 !important; }

.tile-background {
  height: 100%; }

.contact__text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .contact__text-box > * {
    margin-bottom: 2rem; }

.contact__icon {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap; }
  .contact__icon > * {
    margin: 2rem; }

.text-box__link > * {
  margin-left: 2rem;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: #999999 !important;
  cursor: pointer; }

.text-box__text {
  text-align: center;
  letter-spacing: .1rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #222222; }

.form {
  width: 100%;
  display: grid;
  grid-template-rows: min-content 20vw min-content;
  grid-auto-columns: 1fr; }
  .form > * {
    margin-bottom: 1.5rem; }
  .form__input-box {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .form__text-area {
    border: 1px solid #ddd;
    transition: border .3s ease;
    margin: 1rem; }
    .form__text-area:focus, .form__text-area:active {
      border: 1px solid #f7c221; }
  .form__btn {
    justify-self: center; }

.input {
  height: 5rem;
  width: 7rem;
  flex: 1;
  padding: 1rem;
  border: 1px solid #ddd;
  margin: 1rem;
  transition: all .3s ease; }
  .input:focus, .input:active {
    border: 1px solid #f7c221; }

::placeholder {
  font-size: 1.3rem; }

.icon-box {
  text-align: center;
  width: 25rem; }
  .icon-box--icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #f7c221;
    margin-bottom: 1.5rem; }
  .icon-box--text {
    text-transform: initial;
    font-size: 1.4rem;
    font-weight: 400;
    color: #222222; }

.gallery__btn-box > * {
  margin: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .gallery__btn-box > * {
      margin: .3rem; } }

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
  grid-gap: .5rem; }

.gallery__box {
  height: 100%;
  width: 100%;
  background-color: lightcoral;
  position: relative; }
  .gallery__box__photo {
    width: 100%;
    height: 100%;
    z-index: -1; }
  .gallery__box__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all .2s ease-in; }
  .gallery__box:hover .gallery__box__overlay {
    opacity: 1; }

.overlay__box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .overlay__box > * {
    margin: 1.5rem; }
  .overlay__box--icon {
    width: 65px;
    height: 65px;
    fill: #fff; }
  .overlay__box--text {
    align-self: stretch;
    width: 40rem;
    transform: scale(0.5);
    transition: all .2s ease; }
    .overlay__box--text--heading {
      color: #fff; }
    .overlay__box--text--para {
      color: #f7c221; }

.gallery__box:hover .overlay__box--text {
  transform: scale(1); }

.features__text {
  flex: 45rem;
  padding-right: 5rem; }
  .features__text--paragraph {
    text-align: start;
    letter-spacing: .1rem; }
  @media only screen and (max-width: 56.25em) {
    .features__text {
      padding-right: 0; } }

.features__carousel {
  flex: 25rem;
  height: min-content;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .features__carousel {
      flex: 40rem;
      margin-top: 2rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 37.5em) {
    .features__carousel {
      justify-content: center; } }

.element__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #ddd;
  transition: all .2s ease; }
  .element__link:hover {
    text-decoration: none;
    color: none;
    background-color: transparent;
    cursor: pointer; }

.element__span {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-color: #222222;
  position: relative; }
  .element__span--icon {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff; }

.element__text {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #3c3b3b;
  line-height: 1;
  margin-bottom: 0;
  padding: 1rem; }

.element__paragraph {
  padding: .5rem 0 0 1rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: all .2s ease;
  display: none; }

.element__button:not(:last-child) {
  margin-bottom: 1rem; }

.parallax {
  grid-column: 1 / -1;
  /* The image used */
  /* Set a specific height */
  display: block;
  min-height: 30.3rem;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .parallax--1 {
    background-image: url("../../img/parallax1.jpg"); }
  .parallax--2 {
    background-image: url(../../img/parallax2.jpg); }
  .parallax__video {
    position: absolute;
    top: -10rem;
    left: 0;
    width: 100%;
    z-index: -15;
    overflow: hidden; }
    @media only screen and (max-width: 37.5em) {
      .parallax__video {
        height: 60vh; } }
    .parallax__video__text {
      text-align: center;
      text-transform: none;
      font-family: "Sriracha", cursive;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column; }
      .parallax__video__text--name {
        margin-top: 2rem;
        color: #f5f5f5; }
      @media only screen and (max-width: 56.25em) {
        .parallax__video__text {
          font-size: 3rem; } }
  .parallax__overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(50%, 1200px);
    justify-content: center; }
  .parallax__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .parallax__feature {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    .parallax__feature > :not(:last-child) {
      padding-bottom: 1.5rem; }
    .parallax__feature__icon {
      fill: #fff; }
      .parallax__feature__icon--1 {
        height: 12rem;
        width: 10rem; }
      .parallax__feature__icon--2 {
        height: 10rem;
        width: 8rem; }
      .parallax__feature__icon--3 {
        height: 10rem;
        width: 9rem;
        margin-bottom: -.5rem; }
      .parallax__feature__icon--4 {
        height: 10rem;
        width: 8rem; }
    .parallax__feature__count {
      font-size: 5.6rem;
      font-weight: 400;
      font-family: "Oswald", sans-serif;
      color: #fff; }
    .parallax__feature__text {
      font-size: 1.2rem;
      color: #fff;
      font-weight: 500; }
      .parallax__feature__text--stroke {
        text-transform: uppercase;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600; }
    .parallax__feature__stroke {
      width: 17rem;
      height: 17rem;
      transform: rotate(-90deg); }
      .parallax__feature__stroke--outline {
        position: absolute; }
      .parallax__feature__stroke--1 {
        stroke-dasharray: 1359px; }
      .parallax__feature__stroke--2 {
        stroke-dasharray: 1359px; }
      .parallax__feature__stroke--3 {
        stroke-dasharray: 1359px; }
      .parallax__feature__stroke--4 {
        stroke-dasharray: 1359px; }
      .parallax__feature__stroke__count {
        position: absolute;
        top: 30%;
        left: 37%;
        color: #fff;
        font-size: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .parallax__feature {
        margin: 2.5rem; } }

.person-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem; }

.person {
  display: flex;
  flex-direction: column;
  transition: all .5s ease; }
  .person__rotate {
    transform: rotateY(90deg); }
  .person > * {
    padding-bottom: 2rem; }
  .person__img {
    height: 27.5rem;
    width: 100%; }
  .person__icons {
    display: flex;
    padding: 0 3.5rem 2rem  0; }
    .person__icons__icon {
      width: 2rem;
      height: 1.5rem;
      flex: 1;
      fill: #f7c221;
      margin-left: .4rem; }
  .person__identity {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center; }
    .person__identity--name {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      margin: 0;
      letter-spacing: .1rem; }
    .person__identity--skill {
      text-transform: uppercase;
      font-size: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .person {
      padding: 3rem; } }

.services__feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 2.5rem;
  backface-visibility: hidden;
  transition: all 1s ease-in; }
  .services__feature__icon {
    fill: #f7c221;
    height: 3.5rem;
    width: 3.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }

.slider__heading {
  position: relative;
  top: 2.5rem;
  font-weight: 300;
  font-size: 2rem; }

@media only screen and (max-width: 56.25em) {
  .slider__outer {
    display: none; } }

.slider__inner {
  width: 40rem;
  height: 40rem;
  overflow: hidden;
  background-color: black; }

.slider__inner img {
  width: 100%;
  height: 100%;
  transition: all .2s ease;
  display: none; }
  .slider__inner img:hover {
    opacity: .25; }

.slider__inner img.slider-active {
  display: inline-block; }

.slider__btn {
  display: flex;
  float: right;
  position: relative;
  top: -3rem;
  left: -1rem;
  z-index: 1; }
  .slider__btn--next, .slider__btn--prev {
    background-color: #999999;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    border-radius: 5px;
    display: block;
    position: relative;
    z-index: 10;
    font-size: 3rem;
    cursor: pointer;
    fill: #fff;
    transition: all .2s ease; }
    .slider__btn--next:hover, .slider__btn--prev:hover {
      background-color: #000; }
  .slider__btn--prev {
    margin-left: 5px; }

.slider__text-box h3 {
  color: #f7c221;
  cursor: pointer;
  margin-top: 2rem; }
  .slider__text-box h3:hover {
    text-decoration: underline; }

.slider__slide {
  width: 34rem;
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .slider__slide {
      display: block; } }

.details {
  display: flex;
  justify-content: space-between;
  padding-right: 12rem; }
  .details__icon {
    height: 15px;
    width: 15px;
    fill: #686868; }
    .details__icon--1 {
      fill: #999999; }
  .details p {
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #686868; }
  .details__date {
    color: #999999; }
  @media only screen and (max-width: 56.25em) {
    .details {
      padding-right: 0; } }

.slider2__heading {
  display: inline-block;
  border: 2px dashed #f7c221;
  padding: 1.5rem; }

.slider2__element {
  text-align: center;
  margin: 3rem;
  display: none; }
  .slider2__element__text {
    font-weight: 700; }
  .slider2__element__name {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #f7c221; }
  .slider2__element__active {
    display: inline-block; }

.slider2__btn {
  height: 2rem;
  width: 2rem;
  fill: #999999; }
  .slider2__btn:first-child {
    margin-right: 1rem; }

.specification {
  width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .specification > :not(:last-child) {
    margin-bottom: 2.2rem; }
  .specification__icon {
    width: 35px;
    height: 35px;
    fill: #f7c221; }
  .specification__heading {
    font-weight: 400;
    font-size: 1.6rem; }
  .specification__text {
    text-align: center;
    letter-spacing: 0;
    font-size: 1.4rem;
    font-weight: 400; }
    .specification__text--2 {
      text-align: left; }

.description__text {
  flex: 60rem; }
  .description__text--link {
    color: #f7c221;
    font-weight: 700;
    cursor: pointer; }
    .description__text--link:hover {
      text-decoration: underline; }

.description__skills {
  flex: 40rem; }

.skill {
  margin-top: 3rem; }
  .skill__box {
    width: 100%;
    margin-top: -1rem;
    margin-bottom: 2rem;
    display: flex;
    border-bottom: 1px solid #ddd; }
  .skill__level {
    align-self: flex-end;
    height: .8rem;
    background-color: #f7c221;
    display: block;
    margin-right: auto; }
    .skill__level--1 {
      width: 80%; }
    .skill__level--2 {
      width: 80%; }
    .skill__level--3 {
      width: 65%; }
    .skill__level--4 {
      width: 78%; }
    .skill__level--5 {
      width: 90%; }
  .skill__percentage {
    position: relative;
    top: .5rem;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    display: block; }

.footer__logo {
  align-items: center; }

.footer__input {
  display: flex; }
  .footer__input > * {
    margin-right: .5rem; }
  .footer__input > input {
    border-radius: .5rem;
    border: none;
    padding: 10px; }
  .footer__input > a {
    padding: 10px;
    width: 8rem;
    color: #fff !important; }

.footer__box__icon > * {
  fill: #fff; }

.footer__box__text > * {
  text-transform: lowercase;
  font-size: 1.6rem;
  color: #fff; }

.footer__box__text--span {
  text-transform: uppercase;
  color: #2a6486; }

header {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  overflow: hidden;
  position: relative; }

.nav-box {
  position: fixed;
  z-index: 5;
  width: 100%;
  transition: all .5s ease;
  background-color: rgba(0, 0, 0, 0.5); }
  .nav-box.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
    transition: background-color 200ms linear; }

.logo {
  display: flex;
  line-height: 1;
  flex-direction: column; }
  .logo__text--1 {
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    color: #f7c221; }
  .logo__text--2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    letter-spacing: 6px; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8rem 2rem 8rem; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      padding: 1rem 5rem 1rem 5rem; } }
  .nav__list {
    display: flex;
    list-style-type: none;
    margin-left: 6rem;
    transition: all .3s ease-in; }
    @media only screen and (max-width: 56.25em) {
      .nav__list {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(100%, 101%);
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        height: 100rem;
        width: 25vw;
        align-items: center;
        justify-content: space-around; } }
  .nav__item {
    text-decoration: none;
    margin-left: .5rem;
    transition: .1s ease; }
  .nav__link {
    text-decoration: none;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    backface-visibility: none;
    transition: ease; }
    .nav__link:hover {
      text-decoration: none;
      color: #fff;
      border: 2px dashed #f7c221;
      transform: translateY(10px); }
  .nav__icon {
    height: 40px;
    width: 40px;
    fill: #fff;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .nav__icon {
        display: block; } }

.intro {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background-color: #f7f7f7;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-items: center; }
  .intro__img {
    width: 60%;
    opacity: 0;
    transform: translateY(2.5rem);
    transition: all .5s ease-in; }
  .intro__features {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }

.about {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: minmax(50%, 1200px);
  justify-content: center; }
  .about__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .about__box > * {
      margin: 2rem;
      margin-right: 4rem; }
  .about__description {
    display: flex;
    flex-wrap: wrap; }
    .about__description > div {
      margin: 2rem; }

.services {
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: minmax(50%, 1200px);
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7; }
  .services__feature--box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .services__feature--box {
        margin: 2rem; } }
  .services__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.section-cards {
  grid-column: 1 / -1;
  display: grid;
  background-color: #fff;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns: minmax(50%, 1200px);
  justify-content: center;
  align-items: center; }

.gallery, .contact {
  grid-column: 1 / -1;
  display: grid;
  background-color: #fff;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: minmax(50%, 1200px);
  justify-content: center;
  justify-items: center;
  margin-bottom: 18rem; }

.composition {
  grid-column: 1 / -1;
  height: 40vw;
  background-color: rgba(150, 119, 25, 0.68);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .composition__heading {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 700;
    color: #fff;
    margin-top: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__heading {
        font-size: 2rem; } }
  .composition__img {
    width: 80%; }

.contact {
  grid-template-rows: repeat(4, min-content);
  margin-bottom: 11rem; }
  .contact > * {
    margin: 3rem; }

.footer {
  grid-column: 1/ -1;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  align-content: center; }
