/////////////////////////////
/////colors

$color-white: #fff;
$color-secondary-white: #f7f7f7;
$color-black: #000;

$color-primary-grey:#999999;
$color-light-grey:#f5f5f5;
$color-secondary-grey:#3c3b3b;
$color-dark-grey:#222222;
$color-border-grey:#ddd;
$color-details-grey:#686868;
$color-hover-grey:#ededed;


$color-yellow:#f7c221;
$color-blue:#2a6486;


$photo-overlay:rgba(0, 0, 0, 0.5);

///////////////////////////////
///fonts
$font-primary:'Oswald', sans-serif;
$font-heading:'Raleway', sans-serif;
$font-paragraph:'Lato', sans-serif;
$font-cursive:'Sriracha', cursive;

$default-font-size:1.6rem;


