
.carousel {

    &-container{
        height: 100%;
    }


    height: 100%;
    width: 100%;
    overflow:hidden;
    position: relative;
    z-index: 1;


    &-item{
        position: relative;
        height: 100%;
    }

    &--img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    
    }
    &__control{
        outline: 2px solid $color-yellow;
        background-image: none;
        height: 5.5rem;
        width: 6rem;
        // height: 100px;
        // width: 100px;
        background-size: 100%, 100%;

        &--right{
            margin-left: 15%;
          
            &:after{
                content: '>';
                font-size: 3.5rem; 
            }
        }
        &--left{
            margin-right: 15%;

            &:after{
                content: '<';
                font-size: 3.5rem; 
            }
        }

    }

}
.carousel .carousel-inner {
    height:100%;    
}


//////////////////////////////////////
////for carousel text
.carousel{
    &-caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        @include respond(phone) { // width < 900?
            width: 50%;
         }

    

        &__heading{
            border-top: 2px solid $color-white;
            border-bottom: 2px solid $color-white;
            padding: 2.5rem;
            font-weight: 700;
            font-size: 3.5rem;
            text-align: center;
            
            &--1{
                animation: moveInScale 2s ease  ;
            }
            &--2{
                animation: moveInRight 1.5s ease ;
            }
            &--3{
                animation: moveInLeft 1.5s ease ;
            }

            @include respond(tab-port) { // width < 900?
               font-size: 2.5rem;
            }

            @include respond(phone) { // width < 900?
                font-size: 1.6rem;
             }

        }

        &__text{
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: .6rem;
            font-weight: 600;
            backface-visibility: hidden;

            &--1{
                animation: moveInScale 2s ease ;
            }
            &--2{
                animation: moveInLeft 1.5s ease ;
            }
            &--3{
                animation: moveInRight 1.5s ease ;
            }

            @include respond(phone) { // width < 900?
                font-size: .6rem;
                letter-spacing: .3rem;
             }
        
        }
      
    }
}

//////////////////////////////
///carousel indicators

.indicator,
.indicator:active{
    height: 10px!important;
    width: 10px!important;
}
.indicator.active{
    background-color: $color-yellow!important;
}

.tile-background{
    height: 100%;
}


