.parallax {
    grid-column: 1 / -1;
    /* The image used */
    &--1{
        background-image: url(../../img/parallax1.jpg);
    }
    &--2{
        background-image: url(img/parallax2.jpg);
    }

    &__video{
        position: absolute;
        top: -10rem;
        left: 0;
        width: 100%;
    
        z-index: -15;
        overflow: hidden;

        @include respond(phone) { // width < 900?
            height: 60vh; //1 rem = 8px, 8/16 = 50%
        }

        &__text{
            text-align: center;
            text-transform: none;
            font-family: $font-cursive;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            flex-direction: column;

            &--name{
                margin-top: 2rem;
                color: $color-light-grey;

            }

            
            @include respond(tab-port) { // width < 900?
                font-size: 3rem;
            }
        }
    }

  
    /* Set a specific height */
    display: block;
    min-height: 30.3rem; 
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__overlay{
        width: 100%;
        height: 100%;
        position: relative;
        background-color: $photo-overlay;
        -webkit-box-sizing: border-box ;
        -moz-box-sizing: border-box ;
             box-sizing: border-box ;

        
    display: grid;
    grid-template-columns: minmax(50%, 1200px);
    justify-content: center;

    }

    &__content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }
    &__feature{
        width: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        & > :not(:last-child){
            padding-bottom: 1.5rem;
        }
        &__icon{
            fill: $color-white;
            &--1{
                height: 12rem;
                width: 10rem;
            }
            &--2{
                height: 10rem;
                width: 8rem;
            }
            &--3{
                height: 10rem;
                width: 9rem;
                margin-bottom: -.5rem;
            }
            &--4{
                height: 10rem;
                width: 8rem;
            }
        }
        &__count{
            font-size: 5.6rem;
            font-weight: 400;
            font-family: $font-primary;
            color: $color-white;
        }
        &__text{
            font-size: 1.2rem;
            color: $color-white;
            font-weight: 500;

            &--stroke{
                text-transform: uppercase;
                color: $color-white;
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
        
        &__stroke{
      
                width: 17rem;
                height: 17rem;
                transform: rotate(-90deg);
           

                &--outline{
                    position: absolute;
                  
                }
         
            &--1{
                stroke-dasharray: 1359px;
              
               
            }

            &--2{
                stroke-dasharray: 1359px;
            
            }

            &--3{
                stroke-dasharray: 1359px;

            }

            &--4{
                stroke-dasharray: 1359px;
          
            }

            &__count{
                position: absolute;
                top: 30%;
                left: 37%;
                color: #fff;
                font-size: 4rem;
            }
        }

        @include respond(tab-port) { // width < 900?
         margin: 2.5rem;
        }
        
    }
  }