// .person-container{
//     // justify-self: center;
// }

.person-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
}

.person{
    display: flex;
    flex-direction: column;
    transition: all .5s ease;

    &__rotate{
        transform: rotateY(90deg);
    }

    & > * {
        padding-bottom: 2rem;
    }
    &__img{
       height: 27.5rem;
       width: 100%;
    }

    &__icons{
        display:flex;
        padding:0 3.5rem 2rem  0;
     
    

        &__icon{
            width: 2rem;
            height: 1.5rem;
            flex: 1;
            fill: $color-yellow;
            margin-left: .4rem;
        }
    }

    &__identity{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;

        &--name{
            text-transform: uppercase;
            font-size: 1.6rem;
            font-family: $font-heading;
            font-weight: 600;
            margin: 0;
            letter-spacing: .1rem;
        }

        &--skill{
            text-transform: uppercase;
            font-size: 1.2rem;
        }
    }

     @include respond(phone) { // width < 900?
        padding: 3rem; //1 rem = 8px, 8/16 = 50%
    }
}